* {
  box-sizing: border-box;
}

html {
  font-family: Vazir sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

/* navigation */

.navigation {
  display: flex;
  justify-content: space-between;
  /* background-color: #636e72; */
  background: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84);
  position: fixed;
  width: 100%;
  z-index: 2;
}

.navigation .nav-right,
.navigation .nav-left {
  display: flex;
}

.navigation li {
  padding: 0.7rem 1rem;
  transition: all ease-in-out 0.4s;
}

.navigation li:hover {
  background-color: #b2bec3;
  cursor: pointer;
}

.navigation li:hover a {
  color: black;
}

.navigation a {
  color: white;
  font-size: 1.3rem;
}

/* sub-nav */

.sub-nav {
  background: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84);
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.sub-nav p {
  color: white;
  font-size: 1.2rem;
  text-align: center;
  padding-bottom: 1rem;
}

.sub-nav h1 {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 3rem;
  text-shadow: -3px 3px 2px rgba(150, 150, 150, 1);
}

/* header - cinema */

.cinema {
  background-image: url("./../images/about.jpg");
  background-size: cover;
  height: 540px;
  max-width: 100%;
  filter: opacity(0.9);
  position: relative;
  text-align: center;
}

.cinema h2 {
  font-size: 2.5rem;
  color: #55efc4;
  text-shadow: -1px 1px 2px rgba(150, 150, 150, 1);
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  padding: 20px;
}

/* main - about */

.about {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  color: #2d3436;
  padding: 3rem 2rem 1rem 2rem;
}

.about hr {
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 95%;
  align-self: center;
  margin: 1.5rem;
}

.about p {
  font-size: 1.3rem;
  color: #2d3436;
  margin-bottom: 2rem;
  line-height: 1.5;
  padding: 0rem 3rem;
}

/* main - employees */

.employees hr {
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 95%;
  align-self: center;
  margin: 1.5rem;
}

.employees h3 {
  font-size: 2rem;
  font-weight: 600;
  color: #2d3436;
  margin-top: 3rem;
  padding: 3rem 2rem 1rem 2rem;
}

.profiles {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 3rem;
}

/* employees - card profile */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* max-width: 300px; */
  width: 300px;
  /* max-height: 500px; */
  /* height: 520px; */
  text-align: center;
  margin-bottom: 2.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all ease-in-out 0.4s;
}

.card:hover {
  transform: scale(1.03,1.03);
}

.title {
  color: grey;
  font-size: 1.1rem;
}

.card button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 1.1rem;
}

.card a {
  text-decoration: none;
  font-size: 1.3rem;
  color: black;
}

.card button:hover,
a:hover {
  opacity: 0.7;
}

/* footer */

footer {
  display: flex;
  background-color: #2d3436;
  color: white;
  padding: 3rem 2rem 1rem;
}

footer hr {
  border: 1px solid #b2bec3;
  margin: 2rem 0;
}

footer .right-footer {
  flex-basis: 40%;
  margin-left: 2rem;
}

footer .right-footer span {
  font-size: 1.5rem;
}

footer .right-footer p {
  line-height: 1.4;
}

footer .right-footer h4 {
  font-size: 0.8rem;
  margin-top: 2.5rem;
}

footer .middle-footer {
  flex-basis: 30%;
  margin-left: 2rem;
}

footer .middle-footer span {
  font-size: 1.5rem;
}

footer .middle-footer form input {
  outline: none;
  border: none;
  padding: 0.5rem 3rem;
}

footer .middle-footer form button {
  padding: 0.5rem 1rem;
  background-color: #4caf50;
  cursor: pointer;
  border: none;
  outline: none;
  color: white;
}

footer .middle-footer form button:hover {
  opacity: 0.7;
}

footer .left-footer {
  flex-basis: 30%;
}

footer .left-footer > span {
  font-size: 1.5rem;
}

footer .left-footer .call {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0;
}

footer .left-footer .call i {
  font-size: 1.3rem;
  margin: 0 0.3rem;
  cursor: pointer;
  color: white;
}

footer .left-footer .call i:hover {
  color: #ddd;
}

footer .left-footer .call i:last-child {
  margin-left: 0;
}

/* media queries */

@media only screen and (max-width: 1250px) {
  footer {
    flex-wrap: wrap;
  }
  footer .right-footer {
    flex-basis: 100%;
    margin-bottom: 4rem;
    margin-left: 0;
  }
  footer .middle-footer {
    flex-basis: 50%;
  }
  footer .left-footer {
    flex-basis: 45%;
  }
}

@media only screen and (max-width: 750px) {
  .navigation {
    flex-direction: column;
    position: static;
  }
  .nav-right {
    flex-direction: column;
    text-align: center;
  }
  .nav-left {
    flex-direction: column;
    text-align: center;
  }
  footer .middle-footer {
    flex-basis: 100%;
    margin-bottom: 4rem;
    margin-left: 0;
  }
  footer .left-footer {
    flex-basis: 100%;
  }
}

@media only screen and (max-width: 500px) {
  footer .middle-footer form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .middle-footer form button {
    margin-top: 0.3rem;
  }
}
