* {
  box-sizing: border-box;
}

html {
  font-family: Vazir sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

/* navigation */

.navigation {
  display: flex;
  justify-content: space-between;
  /* background-color: #636e72; */
  background: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84);
  position: fixed;
  width: 100%;
  z-index: 2;
}

.navigation .nav-right,
.navigation .nav-left {
  display: flex;
}

.navigation li {
  padding: 0.7rem 1rem;
  transition: all ease-in-out 0.4s;
}

.navigation li:hover {
  background-color: #b2bec3;
  cursor: pointer;
}

.navigation li:hover a {
  color: black;
}

.navigation a {
  color: white;
  font-size: 1.3rem;
}

/* sub-nav */

.sub-nav {
  background: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84);
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.sub-nav p {
  color: white;
  font-size: 1.2rem;
  text-align: center;
  padding-bottom: 1rem;
}

.sub-nav h1 {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 3rem;
  text-shadow: -3px 3px 2px rgba(150, 150, 150, 1);
}

/* header - cinema */

.cinema {
  background-image: url("./../images/moneyh.jpg");
  background-size: cover;
  height: 540px;
  max-width: 100%;
  filter: opacity(0.9);
  position: relative;
  text-align: center;
}

.cinema h2 {
  font-size: 2.5rem;
  color: #55efc4;
  text-shadow: -1px 1px 2px rgba(150, 150, 150, 1);
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  padding: 20px;
}

/* header-search */

.header-search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}

.header-search input {
  outline: none;
  padding: 0.5rem 4rem;
  background-color: #f3f3f3;
  color: black;
  border: none;
  font-size: 1.2rem;
  border-radius: 0.2rem;
  transition: all ease-in-out 0.5s;
}

.header-search input:focus {
  padding: 0.5rem 6rem;
}

.header-search button {
  padding: 0.5rem;
  background-color: #a5a5a5;
  border: none;
  cursor: pointer;
  border-radius: 0.2rem;
}

.header-search button i {
  color: white;
  font-size: 1.3rem;
  transition: all 1s;
}

.header-search button:hover i {
  transform: rotateY(360deg);
}

/* main-critic */

.critic {
  display: flex;
  padding: 1rem 3rem;
}

.critic .photo img {
  border-radius: 0.3rem;
  box-shadow: 6px 6px 20px -1px rgba(0, 0, 0, 0.75);
  height: 100%;
  max-width: 222px;
}

.critic .critic-text {
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  background-color: thistle;
  border-radius: 0.3rem;
  padding: 2rem;
  box-shadow: 6px 6px 20px -1px rgba(0, 0, 0, 0.75);
  transition: all ease-in-out 0.3s;
}

.critic .critic-text:hover {
  transform: scale(1.01, 1.01);
}

.critic .critic-text .critic-head {
  display: flex;
  justify-content: space-between;
}

.critic .critic-text .critic-head i {
  font-size: 2rem;
  margin-right: 0.5rem;
  text-shadow: 3px 3px 2px rgba(150, 150, 150, 1);
}

.critic .critic-text .critic-head .imdb span {
  font-size: 1.3rem;
}

.critic .critic-text h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.critic .critic-text span {
  font-size: 1.1rem;
  margin-bottom: 1.3rem;
}

.critic .critic-text p {
  font-size: 1rem;
  margin-bottom: 3rem;
  line-height: 1.5;
  font-weight: medium;
}

.critic button {
  width: 7rem;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #355c7d;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  color: white;
  font-size: 1.3rem;
  transition: all ease-in-out 0.5s;
}

.critic button:hover {
  border-radius: 50%;
  padding: 0.5rem 1rem;
  color: black;
  font-size: 1.3rem;
}

/* pages */

.pages {
  margin: 2rem 0;
}

.center {
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

/* footer */

footer {
  display: flex;
  background-color: #2d3436;
  color: white;
  padding: 3rem 2rem 1rem;
}

hr {
  border: 1px solid #b2bec3;
  margin: 2rem 0;
}

footer .right-footer {
  flex-basis: 40%;
  margin-left: 2rem;
}

footer .right-footer span {
  font-size: 1.5rem;
}

footer .right-footer p {
  line-height: 1.4;
}

footer .right-footer h4 {
  font-size: 0.8rem;
  margin-top: 2.5rem;
}

footer .middle-footer {
  flex-basis: 30%;
  margin-left: 2rem;
}

footer .middle-footer span {
  font-size: 1.5rem;
}

footer .middle-footer form input {
  outline: none;
  border: none;
  padding: 0.5rem 3rem;
}

footer .middle-footer form button {
  padding: 0.5rem 1rem;
  background-color: #4caf50;
  cursor: pointer;
  border: none;
  outline: none;
  color: white;
}

footer .middle-footer form button:hover {
  opacity: 0.7;
}

footer .left-footer {
  flex-basis: 30%;
}

footer .left-footer > span {
  font-size: 1.5rem;
}

footer .left-footer .call {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0;
}

footer .left-footer .call i {
  font-size: 1.3rem;
  margin: 0 0.3rem;
  cursor: pointer;
  color: white;
}

footer .left-footer .call i:hover {
  color: #ddd;
}

footer .left-footer .call i:last-child {
  margin-left: 0;
}

/* media queries */

@media only screen and (max-width: 1250px) {
  footer {
    flex-wrap: wrap;
  }
  footer .right-footer {
    flex-basis: 100%;
    margin-bottom: 4rem;
    margin-left: 0;
  }
  footer .middle-footer {
    flex-basis: 50%;
  }
  footer .left-footer {
    flex-basis: 45%;
  }
}

@media only screen and (max-width: 750px) {
  .navigation {
    flex-direction: column;
    position: static;
  }
  .nav-right {
    flex-direction: column;
    text-align: center;
  }
  .nav-left {
    flex-direction: column;
    text-align: center;
  }
  .header-search input {
    padding: 0.5rem 3rem;
  }
  .header-search input:focus {
    padding: 0.5rem 3.8rem;
  }
  footer .middle-footer {
    flex-basis: 100%;
    margin-bottom: 4rem;
    margin-left: 0;
  }
  footer .left-footer {
    flex-basis: 100%;
  }
  .imdb {
    display: none;
  }
  .critic {
    flex-direction: column;
  }
  .critic .critic-text {
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 500px) {
  .header-search form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header-search button {
    margin-top: 0.3rem;
  }
  footer .middle-footer form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .middle-footer form button {
    margin-top: 0.3rem;
  }
}
